body {
  /*padding-bottom: 20px;*/
  /*background-color: #ddd*/
}

.navbar {
    margin-bottom: 0px;
}

#home {
    background: url(../img/bg.jpg) 50% / cover;
}

#home {
    height: 400px;
}

.navbar-brand {
    width: 150px;
    padding: 10px 15px;
/*
    background: url(../img/logo.svg);
    background-position: center center;
    background-repeat: no-repeat;
*/
}

.link-button {
    padding: 15px 40px;
}

.link-button a {   
    background-color: whitesmoke;
}

.glyphicon {
    margin-left: 4em;
}

#lead-content {
    color: #fff;
    text-shadow: 2px 2px 0.2em #000;
}

#portraits a {
    color: #888;
    opacity: 0.4;
}

#portraits a:hover {
    text-decoration: none;
    color: black;
    opacity: 1;
}

#portraits .active a {
    color: black;
    opacity: 1;
}

#portraits h3 {
    margin-top: 10px;
    margin-bottom: 0px;
}

#portraits ul {
    padding-left: 0px;
}

#portraits li {
    display: block;
}

#portraits .lead {
    padding: 10px;
}

#portraits .col-md-3 {
    margin-top: 40px;
    margin-bottom: 40px;
}

#portraits .col-md-3:hover, #courses img:hover {
    cursor: pointer;
}

#portraits a:hover > img, #portraits li.active img, #courses img:hover {
    box-shadow: 0px 0px 10px 4px rgba(100, 100, 100, 0.5);
    -moz-box-shadow: 0px 0px 10px 4px rgba(100, 100, 100, 0.5);
    -webkit-box-shadow: 0px 0px 10px 4px rgba(100, 100, 100, 0.5);
}

#tutor-intro blockquote {
    color: #777;
    font-size: 12pt;
    border-left: 10px solid #777;
}